/* Estilos CSS para el reproductor */
@keyframes preloader {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  animation: preloader 1s ease-in-out;
  box-sizing: border-box;
}
html, body, #page {
      margin: 0px;
      padding: 0px;
	  background-color: rgba(28,19,100,.633);
	  height: 62px;
    }

    .areaPlayer {
      display: flex;
	  justify-content: center;
	  align-items: center;
	  width: auto;
	  height: auto;
	  overflow: visible;
    }

    .songtag {
		font-size: 1em;
		color: #fff;
		text-shadow: 2px 2px 2px black;
		font-family: "Marvel", sans-serif;
}

	.btn {
		background-color: transparent;
		border: none;
		font-size: 2em;
		color: #fff;
}

	.btn:hover {
		color: #ffb402;
}

	.btn.playing {
		animation: pulse 1s ease-in-out infinite;
}

	@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
	.poweredtext {
		font-size: 0.9em;
		color: #fff;
		text-shadow: 2px 2px 2px black;
		font-family: "Marvel", sans-serif;
		
}
	.poweredtext:hover {
		font-size: 0.9em;
		color: #ffb402;
		text-shadow: 2px 2px 2px black;
		font-family: "Marvel", sans-serif;
}
	.powered {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		width: 100%;
		padding: 5px;
		height: auto;
		overflow: visible;
		background: linear-gradient(-45deg, #000, #123456, #0000ff, #123456, #0000ff, #000);
 		background-size: 400% 400%;
 		animation: gradient 15s ease infinite;
}

 	 @keyframes gradient {
	0% {
	  background-position: 0% 0%;
	}
	50% {
	  background-position: 100% 0%;
	}
	100% {
	  background-position: 0% 100%;
	}
}
